*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background: #4d4343;
}

::-webkit-scrollbar-thumb:hover{
    background: #232323;
}

/* Xander :: 7-12-2022 Start */

.xander__bol {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-color: #232323;
    transition: all 0.4s ease-in;
}

.xander__bol-s_1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    animation: rotate 0.8s linear infinite;
    overflow: hidden;
}

.xander__bol-s_1-line {
    width: 30px;
    height: 50vh;
    border-radius: 20px;
    z-index: 1;
    animation: colors 4s ease infinite;    
}

.xander__bol-s_1::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    z-index: 2;
    animation: colors 4s ease infinite;
}

.xander__bol-s_1::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    z-index: 2;
    animation: colors 4s ease infinite;
}

@keyframes rotate {
    
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(50deg);
    }

    40% {
        transform: rotate(80deg);
    }

    60% {
        transform: rotate(110deg);
    }

    80% {
        transform: rotate(150deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes colors {
    0% {
        background:linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 128, 0, 1) 100%);
    }

    20% {
        background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(255, 59, 0, 1) 100%);
    }

    40% {
        background:linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 128, 0, 1) 100%);
    }

    60% {
        background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(255, 59, 0, 1) 100%);
    }

    80% {
        background:linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 128, 0, 1) 100%);
    }

    100% {
        background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(255, 59, 0, 1) 100%);
    }
}

/* Xander :: 7-12-2022 End */